/* You can add global styles to this file, and also import other style files */
html{
  font-size: 62.5%;
  background-color: #bdd4e7;
    background-repeat: no-repeat;

  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
